default_profile = "gateway-paper"

[profiles.gateway-paper]
host = "ibgateway"
port = 4003
client_id = 11
mode = "paper"

[profiles.gateway-paper-scheduler]
host = "ibgateway"
port = 4003
client_id = 12
mode = "paper"

[profiles.gateway-live]
host = "ibgateway"
port = 4001
client_id = 11
mode = "live"
